/*Sidebar css*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #818181;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/*imagelink class for <a> elements*/
a.imglink{
  margin:0;
  padding:0;
  background:#FFF;
  display:inline-block;
}
a.imglink img{
  vertical-align:middle;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
a.imglink:hover img{
  opacity:0.7;
}

/*main class css*/
#main {
    transition: margin-left .5s;
    padding: 0px;
}
.button-tolanding{
    cursor:pointer;
}

/*Landing page css*/
.landing-button-panel{
    min-width: 200px;
    max-width: 400px;
    min-height: 180px;
    max-height: 400px;
    height: 32%;
    background-color:#8da9fc;
    border-radius:0;
    cursor:pointer;
}
.landing-button-panel:hover{
    -webkit-box-shadow: 0 0 1px 3px #000 inset;
    -moz-box-shadow: 0 0 1px 3px #000 inset;
    box-shadow: 0 0 1px 3px #000 inset;
}
.landing-button-name{
    font-weight: bold;
    font-size: 2em;
    font-size: 2vw;
    line-height:110%;
    text-align:left;
    margin:2%;
}
.landing-img{
    width: 98%;
    margin: 1%;
}
/*menu css*/
.menusplit{
    height: 20px;
    width: 100%;
    border-bottom-color: #434343;
    border-style: solid;
    border-width: 2px;
}
.MenuItem {
    width: 240px;
    height: 40px;
    padding: 4px;
    padding-left: 4px;
    padding-top: 10px;
    margin-top: 4px;
    background-color: #434343;
    color:white;
}
.MenuItem:hover{
    background-color: #677887;
    color: white;
}

/*student opdrachten label css*/
.student-nav-side-fix{
    position:fixed;
    width:100%;
}
.opdrachten-label{
    display: block;
    width: 80%;
    height: 120px;
    margin: 20px auto;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
}
.opdrachten-label-header{
    height: 30px;
    padding: 4px;
    padding-left: 4px;
    width: 100%;
    top:0;
    background-color: #C6E2FF;
    text-align: left;
}
.opdrachten-label-textbox{
    width: 100%;
    height: 60px;
    text-align: left;
    padding: 4px;
    padding-left: 4px;
    word-wrap: break-word;
}
.opdrachten-label-teacher{
    width: 100%;
    height: 30px;
    text-align: left;
    padding: 4px;
    padding-left: 4px;
}
.opdrachten-label-download-btn{
    float: right;
    padding: 4px;
    padding-right: 4px;
    color: #44A0FF;
    font-weight: bold;
}
.opdrachten-view{
    padding: 10px;
    height: 100%;
    min-width: 540px;
    max-width: 1040px;
    width: 100%;
}

/*Docentoverzicht label css*/
.docent-label{
    display: block;
    height: 100px;
    margin: 20px auto;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
}
.docent-label-header{
    height: 10px;
    padding: 4px;
    padding-left: 4px;
    width: 100%;
    top:0;
    background-color: #C6E2FF;
    text-align: left;
}
.docent-label-foto{
    height: 90px;
    text-align: left;
}
.docent-label-naam{
    font: bold 18px Arial;
    color: #333333;
    height: 90px;
    text-align: left;
}
.docent-label-vakken{
    font: bold 18px Arial;
    color: #333333;
    height: 90px;
    text-align: left;
}
.docent-nav-back{
    background-color:#44A0FF;
    opacity: 1;
    cursor:pointer;
    height: 100%;
}
.docent-nav-back:hover{
    background-color:#44A0FF;
    opacity: 0.5;
}

/*misc css*/
.logo{
    display: block;
    position: relative;
}
.Loggedinas{
    color: white;
    font-size: medium;
    font-weight: bold;
    float: right;
    padding: 10px;
}
.add-shadow{
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
}

/*Admin label and button css*/
.opdrachten-label-admin{
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #434343;
}
.button-admin {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    height: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
}
.button-admin:hover {
    background-color: #3e8e41
}
.button-admin:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}
.button-admin-login {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 30%;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: #ffae63;
    color: #fff;
    font-size:18px;
    font-weight: bold;
}
.button-admin-login:hover {
    background-color: #3e8e41
}
.button-delete-admin {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    height: 30px;
    width: 60px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f44242;
    border: none;
}
.button-delete-admin:hover {
    background-color: #bf3131
}
.button-delete-admin:active {
    background-color: #bf3131;
    transform: translateY(4px);
}

/*blue custom navbar*/
.navbar-custom-blue {
    background-color:#44A0FF;
    color:#ffffff;
    border-radius:0;
}
.navbar-custom-blue.nav-orange {
    background-color:#FF9900;
}
.navbar-custom-blue .navbar-nav > li > a {
    font-size:16px;
    font-weight:bold;
    color:#fff;
}
.navbar-custom-blue .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom-blue .navbar-nav > li > a:hover,
.navbar-custom-blue .navbar-nav > li > a:focus,
.navbar-custom-blue .navbar-nav > .active > a:hover,
.navbar-custom-blue .navbar-nav > .active > a:focus,
.navbar-custom-blue .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #A1CFFF;
}
.navbar-custom-blue.nav-orange .navbar-nav > li > a:hover,
.navbar-custom-blue.nav-orange .navbar-nav > li > a:focus,
.navbar-custom-blue.nav-orange .navbar-nav > .active > a:hover,
.navbar-custom-blue.nav-orange .navbar-nav > .active > a:focus,
.navbar-custom-blue.nav-orange .navbar-nav > .open >a {
    background-color: #FFCC66;
}
.navbar-custom-blue-brand{
    position:absolute;
    width:100%;
    margin-top:7px;
    text-align:center;
    font:bold 30px Arial;
}
.navbar-custom-blue .navbar-brand {
    font-size:30px;
    color:#eeeeee;
}
.navbar-custom-blue .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom-blue .icon-bar {
    background-color:#33aa33;
}

.navbar-custom-blue.nav-orange .icon-bar {
    background-color:#33aa33;
}
.btn-addopdracht{
    width: 100%;
    height: 20px;
    display: block;
    background-color: #C6E2FF;
}
.btn-addopdracht:hover{
    background-color: red;
}
