.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#main {
    transition: margin-left .5s;
    padding: 0px;
}
.menusplit{
    height: 20px;
    width: 100%;
    border-bottom-color: #434343;
    border-style: solid;
    border-width: 2px;
}

.MenuItem {
    width: 240px;
    height: 40px;
    padding: 4px;
    padding-left: 4px;
    padding-top: 10px;
    margin-top: 4px;
    background-color: #434343;
    color:white;

}
.MenuItem:hover{
    background-color: #677887;
    color: white;
}
.opdrachten-view{
    padding: 10px;
    height: 100%;
    width: 100%;
}

.opdrachten-label{
    display: block;
    width: 80%;
    height: 120px;
    margin: 20px auto;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
}
.opdrachten-label-header{
    height: 30px;
    padding: 4px;
    padding-left: 4px;
    width: 100%;
    top:0;
    background-color: #C6E2FF;
    text-align: left;
}
.opdrachten-label-textbox{
    width: 100%;
    height: 60px;
    text-align: left;
    padding: 4px;
    padding-left: 4px;
    word-wrap: break-word;
}
.opdrachten-label-teacher{
    width: 100%;
    height: 30px;
    text-align: left;
    padding: 4px;
    padding-left: 4px;
}
.opdrachten-label-download-btn{
    float: right;
    padding: 4px;
    padding-right: 4px;
    color: #44A0FF;
    font-weight: bold;
}
.docent-label{
    display: block;
    height: 100px;
    margin: 20px auto;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.49);
}
.docent-label-header{
    height: 10px;
    padding: 4px;
    padding-left: 4px;
    width: 100%;
    top:0;
    background-color: #C6E2FF;
    text-align: left;
}
.docent-label-foto{
    height: 90px;
    text-align: left;
}
.docent-label-naam{
    height: 90px;
    text-align: left;
}
.docent-label-vakken{
    height: 90px;
    text-align: left;
}
.docent-nav-back{
    background-color:#44A0FF;
    opacity: 1;
    cursor:pointer;
    height: 100%;
}
.docent-nav-back:hover{
    background-color:#44A0FF;
    opacity: 0.5;
}
.logo{
    display: block;
    position: relative;
    top: 10px;
    padding: 15px;
}
.Loggedinas{
    color: white;
    font-size: medium;
    font-weight: bold;
    float: right;
    padding: 10px;

}
